extends layout

block main-content

    p(id="instructions") Create a randomized colour pallete to work from, and get all colour information needed related to it. Below the palette you can find CSS variables you can copy into your :root section of your css file.

    div(class="colorArray")
        each color in colors
            div(class="colorEntry")
                each c in color
                    h3 #{c.colorName}
                    div(
                        class="colorSquare"
                        style="background: " + c.hex
                    )
                    div(class="colorInfo")
                        p HEX: #{c.hex}
                        p RGB: #{c.rgb}
                        p CMYK: #{c.cmyk}
                        p HLS: #{c.hsl}
    
    div(class="cssArea")
        h2 Variables for CSS:
        div(class="cssArray")
            p :root &#123;
            each color in colors
                each c in color 
                    p --color-#{c.colorId + 1}: #{c.hex};
            p &#125;


        